:root {
  --primary-color: #204177;
  --secondary-color: #3667a6;
  --border-color: #bdbdbd;
  --gray: #504f5f;
  --scrollbar-color: #d6dee1;
  --hover-color: #7090c4;
  --scrollbar-hover-color: #bbc9df;
}
